[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"

[dev-packages]
coverage = "*"
codecov = "*"
wheel = "*"
twine = "*"

[requires]
python_version = "3"
